/* General Form Layout */
.upload-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 100px;
    margin-top: 100px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size:40px ;
}

h3 {
    margin-top: 20px;
    font-size: 30px;
    color: #ffae00;
    margin-bottom: 20px;
}

/* Basic Information Section */
#basic-info-section {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 20px;
}

.basic-info-entry {
    flex: 1;
    min-width: 250px;
    box-sizing: border-box; /* Ensures padding and border are included in the width */
}

input, select, textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

select {
    padding: 12px;
    font-size: 16px;
}

textarea {
    resize: vertical;
}

/* Button Container */
.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.submit-btn, .cancel-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    transition: background-color 0.3s ease;
}

.submit-btn {
    background-color: #ffae00;
    color: white;
}

.submit-btn:hover {
    background-color: #caac6b;
}

.cancel-btn {
    background-color: #0059b3 ;
    color: white;
}

.cancel-btn:hover {
    background-color: #38628b;
}

/* Education Section */
#education-section, #skills-section {
    margin-bottom: 20px;
}

.education-entry, .skill-entry {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 10px;
}

.education-entry input, .skill-entry input {
    flex: 1;
    min-width: 150px;
    padding: 10px;
}

.add-btn, .remove-btn {
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    background-color: #00488E;
    color: white;
    transition: background-color 0.3s ease;
}

.add-btn:hover, .remove-btn:hover {
    background-color: #888;
}

.remove-btn {
    background-color: #f44336;
}

/* Resume Section */
#resume-upload {
    margin-top: 20px;
    margin-bottom: 20px;
}

input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f4f4f4;
}

/* Responsive Adjustments */
@media screen and (max-width: 768px) {
    .basic-info-entry, .education-entry, .skill-entry {
        flex-direction: column;
    }

    .button-container {
        flex-direction: column;
        align-items: center;
    }

    .submit-btn, .cancel-btn {
        width: 100%;
        margin-bottom: 10px;
    }
}
